.box {
    background-color: #52BB77;
    width: 1067px;
    height: 40px;
}

.text {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
}