<div class="col-md-12 ms-4 pt-4 pb-4 ps-3">
    <div class="row">
        <div class="col-md-9 p-0 m-0"><div class="input-container ic2 ">
            <input id="lastname" class="input" type="text" placeholder=" " [(ngModel)]="forumSearchTerm" (change)="search()" />
            <div class="cut"></div>
            <label for="lastname" class="placeholder">Search Forum</label>
        </div>
    </div>
        <div class="col-md-2 p-0 m-0 pb-2">
            <button class="submit" (click)="search()">search</button>
        </div>
    </div>
</div>
