.forum-card-start {
  width: 1065px;
  background: #061022;
  margin-top: 0.7rem;
  color: #fff;
  font-family: "Teko", sans-serif;
  font-size: 28px;

}
  .submit {
    margin-top: 0.1rem;
    background-color: #52BB77;
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    height: 35px;
    text-align: center;
    width: 100%;
    width: 9rem;
    font-family: "Teko", sans-serif;
    font-size: 26px;
  }
  
  .submit:active {
    background-color: #22EF6A;
  }

  .skip {
    margin-top: 0.1rem;
    background-color: #1877F2;
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    height: 35px;
    text-align: center;
    width: 100%;
    font-family: "Teko", sans-serif;
    width: 9rem;
    font-size: 28px;
  }

  .skip:active {
    background-color: #003479;
  }

  @media only screen and (max-width: 420px) {
    .submit {
      margin-top: 0.7rem;
      background-color: #52BB77;
      border-radius: 18px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      height: 35px;
      text-align: center;
      width: 100%;
      width: 6rem;
      font-family: "Teko", sans-serif;
      font-size: 26px;
    }
    
    .skip {
      margin-left: 3rem ;
      margin-top: 0.7rem;
      background-color: #1877F2;
      border-radius: 18px;
      border: 0;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      height: 35px;
      text-align: center;
      width: 100%;
      font-family: "Teko", sans-serif;
      width: 6rem;
      font-size: 28px;
    }
  }