.img {
    background-image: url(../../../assets/img/bg-home.jpg);
    background-size: cover;
    min-height: 835px;
    height: auto;
    width: auto;
  }
  
  .card-start {
    width: 1067px;
    height: 36px;
    background: #322b4e;
    margin-top: 12rem;
  }
  
  .img-card {
    height: 160px;
    width:100%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  h5 {
    color: #fff;
    font-family: "Teko", sans-serif;
    font-size: 28px;
  }
  
  .featured {
    margin-bottom: 20rem;
  }
  
  .card-content {
      width: 1067px;
      height: auto;
      padding-bottom: 1.2rem;
      background: #EAEAEA;
  }
  
  .card-body {
    width: 270px;
    height: 168px;
    background-color: #2C3451;
  }
  
  .card-title {
    background: #061022;
    color: #fff;
    font-family: "Teko", sans-serif;
    height: 26px;
    width: 100%;
  }
  
  .forum-box {
    background-color: red;
    height: 55px;
    background-image: url("../../../assets/img/forum-all-box.png");
    background-size: cover;
  }
  
  .forum-heading {
    color: #fff;
    font-size: 36px;
    font-family: "Teko", sans-serif;
  }
  
  .title-heading {
    height: 30px;
    font-size: 24px;
  }
  
  @media only screen and (max-width: 990px) {
    .card-content {
      width: 1067px;
      height: auto;
      background: #EAEAEA;
    }
  
  }
  
  @media only screen and (max-width: 896px) {
    .card-content {
      width: auto;
      height: auto;
      background: #EAEAEA;
    }
  
 
  }
  