
.login-form {
    background-color: #322B4E;
    height: 839px;
}

.login-body {
    margin-top: 5rem;
    width: 490px;
    height: 500px;
    background: #061022;
    border-radius: 65px;    
    position: relative;
    z-index:10
}

.profile-heading {
    padding: 0 8rem;
    color: #eee;
    font-family: sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 6rem;
}

.form {
    background-color: #15172b;
    border-radius: 65px;
    box-sizing: border-box;
    height: 600px;
    padding: 20px;
    width: 530px;
  }
  
  .title {
    padding: 0 8rem;
    color: #eee;
    font-family: "Teko", sans-serif;
    font-size: 48px;
  }
  
  .subtitle {
    padding: 0 8rem;
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    padding: 0 8rem;
  }
  
  .ic1 {
    margin-top: 50px;
  }
  
  .ic2 {
    margin-top: 40px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
    padding: 0 8rem;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
    padding: 0 8rem;
  }
  
  .placeholder {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    left: 40px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
    padding: 0 7rem;
    
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
    padding: 0 4rem;
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #4DCD52;
    padding: 0 8rem;
  }
  
  .input:focus ~ .placeholder {
    color: #4DCD52;
    padding: 0 8rem;
  }
  
  .submit {
    background-color: #52BB77;
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
    width: 14.5rem;
    margin-left: 8rem;
    font-family: "Teko", sans-serif;
    font-size: 36px;
  }
  
  .submit:active {
    background-color: #22EF6A;
  }

  .policy {
    color: #fff;
  }

  .policy-heading {
    color: #1877F2;
  }

  .skip {
    background-color: #1877F2;
    border-radius: 18px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    width: 20rem;
    margin-left: 8rem;
    font-family: "Teko", sans-serif;
    font-size: 36px;
  }

  .skip:active {
    background-color: #003479;
  }
  
  .invalid-feedback {
    font-family: "Teko", sans-serif;
    color: #DD5347;
    font-size: 18px;
    padding-left: 9rem;
    position: absolute;
    z-index:1
  }
  
  .api-error {
    font-family: "Teko", sans-serif;
    color: #DD5347;
    font-size: 18px;
    padding-left: 9rem;
    position: absolute;
    margin-top: 18px;
  }
