.navbar {
    width: 100%;
}


.nav-item {  
    font-family: Orbitron !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 32px !important;
    line-height: 38px !important;
}

.navbar-nav {
    margin-top: 2rem;
    margin-left: 6rem;
}

.img {
    margin-top: 0.4rem;
    width: 60px;
    height: 60px;
    border-radius: 101px;
}

.text {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}

.btn-logout {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #4DCD52;
    border: none;
    background-color: rgb(250, 248, 248);
    
}

@media only screen and (max-width: 1530px) {
    .navbar-nav {
        margin-left: 0.5rem;
        margin-top: 2.2rem;
    }

    .nav-item {  
        font-family: Orbitron !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 24px !important;
        line-height: 38px !important;
    }
  }

@media only screen and (max-width: 1300px) {
    .navbar-nav {
        margin-left: 0rem;
        margin-top: 2.2rem;
    }

    .nav-item {  
        font-family: Orbitron !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 20px !important;
        line-height: 38px !important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .navbar-nav {
        margin-top: 3.8rem;
    }

    .nav-item {  
        font-family: Orbitron !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 24px !important;
        line-height: 38px !important;
    }
    
  }

  @media only screen and (max-width: 1110px) {
    .navbar-nav {
        margin-top: 3rem;
    }

    .nav-item {  
        font-family: Orbitron !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 24px !important;
        line-height: 38px !important;
    }
    
  }

  @media only screen and (max-width: 420px) {
    img {
        width: 280px;
    }
  }


