.nav-item {  
    font-family: Orbitron !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 32px !important;
    line-height: 38px !important;
}

.navbar-nav {
    margin-top: 2rem;
    margin-left: 9.2rem;
}

.img {
    margin-top: 0.4rem;
    width: 60px;
    height: 60px;
    border-radius: 101px;
}

.text {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}

.btn-logout {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #4DCD52;
    border: none;
    background-color: rgb(250, 248, 248);
    
}


