<app-navbar></app-navbar>
<section class="img">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 feed-start-heading mt-3 ">
                <div class="row">
                    <div class="col-md-7">
                        <span class="top-heading ms-3 ">dias46 - feed</span>
                    </div>
                    <div class="col-md-2 ms-3 btn-col1 d-flex justify-content-center">
                        <span class="top-heading"><a [routerLink]="['/user/feed/posts']" class="top-heading">Recent Posts</a></span>
                    </div>
                    <div class="col-md-2 ms-3 btn-col2 d-flex justify-content-center">
                        <span class="top-heading"><a [routerLink]="['/user/feed/comments']" class="top-heading">Recent Comments</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-md-10 card-list">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>