.bg {
    background-color: #061022;
    height: 792px;
}

.empty-text {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
    margin-top: 22rem;
}