.img {
    background-image: url("../../../../assets/img/bg-home.jpg");
    background-size: cover;
    height: 1190px;
  }

  .forum-card-start {
    width: 1065px;
    background: #061022;
    margin-top: 2rem;
    color: #fff;
    font-family: "Teko", sans-serif;
    font-size: 28px;
  }

  .type-heading {
      color: #4DCD52;
  }
  
  .forum-pagination {
    background: #061022;
    width: 1065px;
    padding-top: 0.3rem;
    padding-right: 4rem;
  }

  ::ng-deep ul > li:not(.active) {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    color: #fff !important;

  }

  ::ng-deep > .active {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    background-color: #061022 !important;
  }

  .forum-pagination > .active > a {
    color: #fff;
  }

 
  
