<app-navbar></app-navbar>
<section class="img">
    <div class="container">
        <app-forum-recommendation></app-forum-recommendation>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 ps-2 pe-2 forum-card-start p-1">
                <span class="ps-3">Forum: {{ forumName}} - <span class="type-heading">{{ postType.toUpperCase() }}
                    </span></span>
            </div>
            <div class="row d-flex justify-content-center" *ngFor="let post of (posts$ | async)">
                <app-post-card [post]="post"></app-post-card>
            </div>
            <div class="posts">

            </div>
            <div class="row d-flex justify-content-center">

            </div>
        </div>
    </div>
</section>