<div class="row d-flex justify-content-center pt-2">
    <div class="col-md-10 ps-3 pe-5 forum-card"
        [routerLink]="['/forum/', post.forumForumName, 'sub-forum', post.postType, post.title, post.id]">
        <div class="row">
            <div class="col-md-1 col-2  ms-1 mt-4"><img src="../../../assets/img/subforum-icon.png">
            </div>
            <div class="col-md-9 col-8 pt-4 pe-2">
                <div class="row p-x-5">
                    <div class="col-md-12">
                        <a [routerLink]="['/forum/', post.forumForumName, 'sub-forum', post.postType, post.title, post.id]"><span class="forum-card-title pe-1">{{
                                post.title }} -
                                {{ post.postType}}</span></a>
                    </div>
                    <div class="row d-none d-xl-block">
                        <div class="col-12 pt-4">
                            <span class="forum-card-description">{{ post.content}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 ps-4 pt-1 ps-3 pe-5 forum-card-button">
        <span class=" forum-card-date pb-5">Started by: {{ post.userUsername }},   {{ post.created | date:
            ' MMMM d, y h:mm a'}} <span class="forum-date">
            </span></span>
    </div>
</div>