<app-navbar></app-navbar>
<section class="img">
    <div class="container">
        <div class="row d-flex justify-content-center pt-3">
            <div class="col-md-10 profile-heading">
                <span class="start-heading ps-4">{{ user?.username}} - User Profile</span>
            </div>
            <div class="col-md-10 profile-stats mt-2">
                <div class="row">
                    <div class="col-2 pt-4">
                        <img class="user-img" [src]="user?.profileImageUrl" onerror="this.src='../../../assets/img/user-stock.png'">
                    </div>
                    <div class="col-4 pt-4 left-col">
                        <div class="row d-flex justify-content-start">
                            <div class="col-md-12">
                                <span class="stat-heading">Username</span>
                            </div>

                            <div class="col-12">
                                <span class="user-stat-text">{{ user?.username}}</span>
                            </div>

                            <div class="col-12 pt-4">
                                <span class="stat-heading">Email</span>
                            </div>

                            <div class="col-md-12">
                                <span class="user-stat-text">{{ user?.email }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 pt-4">
                        <div class="row d-flex justify-content-start">
                            <div class="col-12">
                                <span class="stat-heading">Date Joined:</span>
                            </div>

                            <div class="col-md-12">
                                <span class="user-stat-text">{{ user?.dateCreated | date:  'MMM d, y'  }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-10 created-stats mt-1">
                <div class="row ps-4 pb-2">
                    <div class="col-md-12">
                        <button class="btn-list"><a [routerLink]="['/user/profile/forums']">Forums: <span class="count-text">{{ forumCount }}</span></a></button>
                        <button class="btn-list ms-3"><a [routerLink]="['/user/profile/posts']">Posts: <span class="count-text">{{ postCount }}</span></a></button>
                        <button class="btn-list-bg ms-3"><a [routerLink]="['/user/profile/comments']">Comments: <span class="count-text">{{ commentCount }}</span></a></button>
                    </div>
                </div>
            </div>
                <div class="row d-flex justify-content-center">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>  
</section>