.profile-heading {
    width: 1067px;
    height: 40px;
    background-color: #061022;
}

.start-heading {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
}

.img {
    background: url("../../../../assets/img/bg-home.jpg");
    min-height: 835px;
    height: auto;
}

.profile-stats {
    background-color: #061022;
    width: 1067px;
    height: 250px;
}


.user-img {
    margin-top: 0.4rem;
    margin-left: 2.4rem;
    width: 85px;
    height: 85px;
    border-radius: 101px;
  }

  .stat-heading {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    color: #fff;
  }

  .user-stat-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
  }

  .created-stats {    
    background: #061022;
    width: 1067px;
    height: auto;
  }

  .user-forums {
    background-color: #19202F;
    width: 1067px;
    height: auto;
  }

  .forum-pagination {
    background: #061022;
    width: 1067px;
    padding-top: 0.1rem;
    padding-right: 4rem;
  }

  .count-text {
    color: #52BB77;
  }

  .empty-list {
    background-color: #19202F;
    width: 1067px;
  }

  .empty-text {
    font-family: Teko;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    color: #fff;
  }

  ::ng-deep ul > li:not(.active) {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    color: #fff !important;

  }

  ::ng-deep > .active {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    background-color: #061022 !important;
  }

  .forum-pagination > .active > a {
    color: #fff;
  }

  .stat-btn {
    background-color: #322B4E;
  }

  @media only screen and (max-width: 768px) { 
    .left-col {
        margin-left: 3.9rem;
    }
  }