<div class="container d-none d-xl-block" [routerLink]="'/register/user'">
    <div class="row" *ngIf="!isLoggedIn">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 forum-card-start ps-3">WELCOME TO FORZM FORUMS!</div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="cold-md-10 form-recommendation ps-3"> Register at the #1 Gaming Forum <br />
                Ready to become a part of our online gaming community? Click <a [routerLink]="'/register/user'"><span
                        class="link-heading">here</span></a> to
                register at VGR
                forums, the
                top
                gaming
                forums online. It only takes a few minutes. Once you’re logged into our video game forum, you’ll be able
                to
                chat, participate in contests, and buy, sell and trade in our Video Game Marketplace section.</div>
        </div>
    </div>
</div>