.img {
    background-image: url("../../../../assets/img/bg-home.jpg");
    background-size: cover;
    min-height: 839px;
    height: auto;
    padding-bottom: 0.4rem;
  }

  .forum-card-start {
    width: 1065px;
    background: #061022;
    margin-top: 0.7rem;
    color: #fff;
    font-family: "Teko", sans-serif;
    font-size: 28px;

  }

  .btn-create {
    width: 93px;
    height: 100%;
    border: none;
    outline: none;
    display: block;
    color: #fff;
    background: #52BB77;
    float: none;
  }

  .btn-search {
    width: 93px;
    height: 100%;
    border: none;
    outline: none;
    display: block;
    color: #fff;
    background: #1877F2;
  }
    


  .forum-pagination {
    background: #061022;
    width: 1065px;
    padding-top: 0.3rem;
    padding-right: 4rem;
  }

  ::ng-deep ul > li:not(.active) {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    color: #fff !important;

  }

  ::ng-deep > .active {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    background-color: #061022 !important;
  }

  .forum-pagination > .active > a {
    color: #fff;
  }

  @media only screen and (max-width: 768px) {
    .btn-create {
      width: 100%;
    }

    .btn-search {
      width: 100%;
    }
  }

 
  
