.img {
    background-image: url("../../../../assets/img/bg-home.jpg");
    background-size: cover;
    height: 1000px;
  }

  .forum-card-start {
    width: 1065px;
    background: #061022;
    margin-top: 2rem;
    color: #fff;
    font-family: "Teko", sans-serif;
    font-size: 28px;
  }

  