<app-navbar></app-navbar>
<section class="img">
    <div class="container">
        <app-forum-recommendation></app-forum-recommendation>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 ps-2 pe-2 forum-card-start">
                <div class="row">
                    <div class="col-md-8">
                        <span class="ps-3">All Game Forums</span>
                    </div>
                    <div class="col-md-2 ps-4 d-flex justify-content-lg-end" *ngIf="loggedIn">
                        <button class="btn-create" [routerLink]="['/forum/create']">create +</button>
                    </div>
                    <div class="col-md-2 ps-1 d-flex justify-content-lg-start" *ngIf="loggedIn">
                        <button class="btn-search" [routerLink]="['/forum/search']">search</button>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <app-login-recommendation [text]="'Log in or sign up to create forum'"></app-login-recommendation>
            </div>
            <div class="forums"
                *ngFor="let forum of (forums$ | async) | paginate: { id: 'forum_pagination',
                                                                                itemsPerPage: 5,
                                                                                currentPage: page,
                                                                                totalItems: forumNumber }">
                <app-forum-card [forum]="forum"></app-forum-card>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 d-flex justify-content-center text-center forum-pagination mt-xl-1">
                    <pagination-controls class="forum_pagination" id="forum_pagination" [maxSize]="forumNumber"
                        (pageChange)="page = $event" directionLinks="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>