<div class="forum">
    <div class="row d-flex justify-content-center pt-2">
        <div class="col-12 ps-3  forum-card" [routerLink]="['/forum', forum.name, 'sub-forums']">
            <div class="row">
                <div class="col-1 ms-4 img-col mt-4"><img src="../../../../assets/img/forum-logo.png">
                </div>
                <div class="col-9 pt-4 pe-5" >
                    <div class="row ">
                        <div class="col-12">
                            <a [routerLink]="['/forum', forum.name, 'sub-forums']"><span class="forum-card-title pe-1">{{ forum.name }} -
                                    Forum</span></a>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9 pt-4">
                                    <span class="forum-card-description"> {{ forum.description.slice(0,68) }}</span>
                                </div>
                                <div class="col-3 ps-5 ps-5 pb-5 post-col d-flex justify-content-end d-inline-block">
                                    <span class="ps-5 post-count">&nbsp;&nbsp;&nbsp; {{ forumPostCount }} <br /> <span
                                            class="post-heading">posts
                                        </span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 ps-4 pt-1 ps-3 pe-5 forum-card-button">
            <span class=" forum-card-date pb-5">Forum created: <span class="forum-date"> {{ forum.created | date:
                    'dd MMM yyyy' }}
                </span></span>
        </div>
    </div>
</div>