<div class="row d-flex justify-content-center">
    <div class="col-md-10 created-stats mt-4">
        <div class="row ps-4">
            <div class="col-md-2 mt-1"><span class="start-heading">User Posts: </span></div>
        </div>
    </div>
    
    <div class="col-md-10 user-forums mt-1 mb-2" *ngIf="(userPosts$ | async)?.length != 0">
        <div class="forums" *ngFor="let post of (userPosts$ | async)| paginate: { id: 'forum_pagination',
                                                                                            itemsPerPage: 5,
                                                                                            currentPage: page,
                                                                                            totalItems: postCount }">
            <div class="row">
                <app-post-card [post]="post"></app-post-card>                      
            </div>
            </div>
        </div>    
        <div class="row d-flex justify-content-center" *ngIf="(userPosts$ | async)?.length != 0" >
            <div class="col-md-10 d-flex justify-content-center text-center forum-pagination mb-2" >
                <pagination-controls class="forum_pagination" id="forum_pagination" [maxSize]="postCount"
                    (pageChange)="page = $event" directionLinks="true">
                </pagination-controls>
            </div>
        </div>  

        <div class="empty-list mt-1" *ngIf="(userPosts$ | async)?.length == 0">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 d-flex justify-content-center mt-2 mb-2">
                    <span class="empty-text">Looks like post list is empty!</span>
                </div>
            </div>
        </div>
</div>
